*{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}

#banner{
    width: auto;
    min-height: 30vh;
    height: auto;
    background-color: black;
    background-image: url('/images/yamamoto.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#top_icons{
    color: white;
    text-align: right;
}
#top_icons a{
    color: white;
    padding: 10px 5px;
    display: inline-block;
}
#top_icons a:last-child{
    margin-right: 20px;
}
#menu{
    /* background-color: rgba(0, 0, 0, 0.3); */
    border-top:2px solid rgba(0, 0, 0, 0.3);
    text-align: right;
    position: sticky;
    top: 0;
}
#menu li{
    list-style-type: none;
    display: inline-block;
}
#menu li a{
    color: thistle;
    padding: 10px 15px;
    display: inline-block;
}
.submenu{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}
.submenu li{
    display: block !important;
    text-align: left;
}
#menu li:hover .submenu{
    display: block;
}

#banner_detail{
    min-height: 500px;
}
#banner_detail aside{
    display: inline-block;
}